<div class="container">
  <img class="container__logo" src="assets/images/logo.png" alt="" />
  <!-- <h1>CursosDev</h1> -->
  <form class="container__form">
    <div class="form__element">
      <label for="email" class="element__label">Email</label>
      <input type="email" class="element__input" name="email" />
    </div>
    <div class="form__element">
      <label for="password" class="element__label">Password</label>
      <input type="password" class="element__input" name="password" />
    </div>
    <div class="form__element">
      <button type="button" class="element__button">Login</button>
    </div>
  </form>
</div>
